<!DOCTYPE html>
<html>
<head>
  <title></title>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <h1><%= "Haikus Landing" %></h1>
  <div id="content"></div>
</div>


<script type="text/babel">

var Haiku = React.createClass({
  render: function() {
    return (
      <div>{ this.props.id_number }</div>
    );
  }
 });

var Haikus = React.createClass({
  getInitialState: function() {
    return {data: []};
  },
  // tutorial13.js
  componentDidMount: function() {
    $.ajax({
      url: this.props.url,
      dataType: 'json',
      cache: false,
      success: function(data) {
        this.setState({data: data.data});
      }.bind(this),
      error: function(xhr, status, err) {
        console.error(this.props.url, status, err.toString());
      }.bind(this)
    });
  },
  render: function() {
    var haikuListing = this.state.data.map(function(haiku) {
      return (
        <li key={ haiku.id }><Haiku id_number={ haiku.id } /></li>
      );
    });
    return (
      <div>
        <h1>Haikus</h1>
        <ul>{ haikuListing }</ul>
      </div>
    );
  }
});

ReactDOM.render(
  <Haikus url="/haikus" />,
  document.getElementById('content')
);
</script>

</body>
</html>
